.chatbox {
  .btn.btnblue {
    border-radius: 0;
  }
  .form-control {
    height: 40px;
    border-radius: 0;
  }

  .chatbody::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
  }

  .chatbody::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
  }

  .chatbody::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(linear, left top, right top, from(#2989d8), to(#34c3e5));
  }

  .chatbody {
    padding: 10px;
    background-color: #e4e4e4;
    .basic {
      overflow-wrap: break-word;
    }
    .me,
    .chatmate {
      width: auto;
      max-width: 350px;
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 8px;
    } 
    .me {
      background: #f2f2f2;
      color: #333;
      float: right;
    }
    .chatmate {
      background: linear-gradient(to right, #2989d8 0%, $irs__aqua 100%);
      color: $white;
      float: left;
    }

  }
}
