.chatbox {
  max-width: 385px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23) !important;
  position: fixed;
  bottom: -5px;
  right: 1%;
  z-index: 9999;
  .panel-body {
    padding: 0 !important;
    height: 0;
    overflow: hidden;
    max-height: 350px;
    transition: height ease 300ms;
  }
  .panel-footer {
    padding: 0;
    height: 0;
  }
  .panel-heading {
    height: 50px;
    span {
      cursor: pointer;
      position: relative;
      &:after {
        content: "Show";
        font-weight: 500;
        color: #fff;
        position: absolute;
        top: 0;
        font-size: 14px;
        right: 0;
        line-height: 27px;
      }
    }
  }
  .btn.btnblue {
    border-radius: 0;
  }
  .form-control {
    height: 40px;
    border-radius: 0;
  }

  .chatbody::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
  }

  .chatbody::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
  }

  .chatbody::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(linear, left top, right top, from(#2989d8), to(#34c3e5));
  }

  .chatbody {
    padding: 10px;
    border: 1px solid #eee;
    .basic {
      margin: 0;
      overflow-wrap: break-word;
    }
    .me,
    .chatmate {
      width: auto;
      max-width: 250px;
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 8px;
    } 
    .me {
      background: #f2f2f2;
      color: #333;
      float: right;
    }
    .chatmate {
      background: #2eb2e2;
      color: $white;
      float: left;
    }

  }

  .panel-footer {
    background-color: $white;
    border-top: none;
    >* {
      visibility: hidden;
    }
    .form-control {
      border-radius: 20px !important;
    }
    .chatsubmit {
      font-size: 12px;
      color: #2eb2e2;
    }
  }
}
.chatbox.expanded {
  .panel-body,
  .panel-footer {
    height: auto;
  }
  .panel-body {
    padding: 10px !important;
    overflow-y: auto;
    transition: height ease 300ms;

  }
  .panel-footer {
    padding: 10px 15px;
    > * {
      visibility: visible;
    }
  }
  .panel-heading {
    span {
      position: relative;
      &:after {
        content: "Hide"
      }
    }
  }
  
}
