//Style
.banner {
  min-height: 100vh;
  img {
    object-fit: cover;
    height: 700px !important;
  }
  .row {
    display: flex;
    align-items: center;
  }
  .btn.btnblue {
    &:hover {
      border-color: $white;
      color: $white;
    }
  }
  .actionbtn {
    a{
      font-size: 30px;
      font-weight: 700;
      color: $white;
      font-family: $oswald;
    }
    .forreport {
      padding: 20px;
      background-color: #2ac0ff;
      box-shadow: 1px 1px 5px 1px #000;
    }
    .forreg {
      padding: 20px;
      background-color: #344fa0;
      box-shadow: 1px 1px 5px 1px #000;
    }
  } 
}
.main-content {
  min-height: 100vh;
  padding: 30px 0;
  .news {
    .panel {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
    .panel-heading {
      max-height: 153px;
      overflow: hidden;
      img {
        object-fit: cover;
      }
    }
    .panel-body {
      min-height: 136px;
      max-height: 136px;
      overflow: hidden;
    }
    .panel-footer {
      border-color: transparent;
      background: transparent;
      display: inline-block;
      width: 100%;
    }
  }
  .user-dashboard,
  .admin-dashboard {
    table {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      thead tr td {
        font-size: 16px;
        color: #2eb2e2;
      }
    }
  }
  .report {
    .panel {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
  }
  .responder-dashboard {
    .left-content {
      .panel {
        border-radius: 12px;
      }
      .panel-body {
        padding: 100px 30px 30px;
      }
    }
  }
}
.footer {
  height: 50px;
  padding: 1% 0;
  text-align: right;
  small {
    color: $white;
  }
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btnupload {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type='file'] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

//USER REPORT ID
.user-report {
}

//RESPONDENT ACTIVE REPORT
.responder.active-report {
  .tabular-view {
    .title__black {
      font-size: 14px;
    }
    .panel {
      margin-bottom: 130px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
    .btn.btnblue {
      width: 100%;
    }
  }
}

//TRACK REPORT
.report-status {
  .panel {
    border-radius: 8px;
    * {
      font-size: 14px;
    }
  }
}
.modal-status {
  .modal-dialog {
    margin-top: 15%;
  }
  .title__black--lato {
    font-size: 18px;
  }
}

// MILESTONE BOX
.box {
  height: auto;
  width: 30px;
  margin-left: 20px;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #34c3e5;
  border-radius: 4px;
}
.box svg {
  fill: #34c3e5;
  margin-top: -5px;
  margin-right: 0;
}
.box.checked {
  background-color: #34c3e5;
}
.box.checked svg {
  fill: #fff;
}

// CONTAINER-BOTTOM
.container-bottom {
  background-color: #f6f6f6;
  padding: 40px 0;

  .row {
    display: flex;
  }
  
  .left-content {
    display: flex;
    .panel-body {
      padding: 60px 120px;
    }
    .btn.btnblue {
      width: 100%;
    }
  }
  .panel {
    border-radius: 24px;
  }
  .right-content {
    .panel-body {
      padding: 40px;
    }
    textarea {
      resize: none;
    }
  }
}



