//Style
.banner {
  padding: 60px 0;
  background-image: url('/img/bg.jpg');
  .row {
    display: flex;
    align-items: center;
  }
  .btn.btnblue {
    &:hover {
      border-color: $white;
      color: $white;
    }
  }
}
.main-content {
  min-height: 100vh;
  padding: 70px 0;
  .news {
    .panel {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
    .panel-heading {
      max-height: 153px;
      overflow: hidden;
      img {
        object-fit: cover;
      }
    }
    .panel-body {
      min-height: 136px;
      max-height: 136px;
      overflow: hidden;
    }
    .panel-footer {
      border-color: transparent;
      background: transparent;
      display: inline-block;
      width: 100%;
    }
  }
  .user-dashboard,
  .admin-dashboard {
    table {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      thead tr td {
        font-size: 16px;
        color: #2eb2e2;
      }
    }
  }
  .report {
    .panel {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
  }
  .responder-dashboard {
    .panel {
      border-radius: 24px;
    }
    .panel-body {
      padding: 100px 30px 30px;
    }
  }
}
.footer {
  height: 50px;
  padding: 1% 0;
  text-align: right;
  small {
    color: $white;
  }
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btnupload {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
