.human-pin {
  margin-left: -14px !important;
  margin-top: -2px !important;
  width: 12px !important;
  height: 12px !important;
  transform: translate3d(509px, -625px, 0px);
  background-color: transparent;
  z-index: -625;
  border: none;
}
