.user-menu {
  background-color: $white !important;
  border-color: transparent !important;
  margin-bottom: 0 !important;
  border-radius: 0 !important;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  .navbar-left {
    padding: 8px 15px;
    align-items: center;
    display: flex;
  }
  .navbar-right {
    padding: 8px 15px;
    align-items: center;
    display: flex;
  }
  li a.nuxt-link-exact-active {
    color: $irs__aqua !important;
  }
}

// Override bootstrap dropdown default styling
.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
  background-color: transparent !important;
}
