.user-menu {
    background-color: transparent !important;
    border-color: transparent !important;
    margin-bottom: 0 !important;
    border-radius: 0 !important;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  .navbar-right {
    padding: 8px 15px;
    align-items: center;
    display: flex;
  }
}
