body * {
  font-family: $lato;
}

.w-100 {
  width: 100%;
}

.tiny {
  font-size: 10px;
  font-weight: 700;
  color: $irs__aqua;
}

.basic__dark {
  font-size: 14px;
  color: $black;
}

.title__white--large {
  font-size: 36px;
  color: $white;
}

.title__white--mid {
  font-size: 18;
  color: $white;
}

.title__blue--large {
  font-size: 36px;
  font-weight: 700;
  color: $irs__blue--dark;
  font-family: $oswald;
}

.title__blue {
  font-size: 24px;
  color: $irs__blue--dark;
}

.title__black {
  font-size: 24px;
  color: $black;
  font-family: $oswald;
}
.title__gray--small {
  font-size: 20px;
  color: $irs__gray--dark;
}

.bluetext {
  font-size: 16px;
  color: #2eb2e2;
}

//Margins
.mrgnauto {
  margin: 0 auto;
}

.mt0 {
  margin-top: 0;
}

.mt60 {
  margin-top: 60px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb45 {
  margin-bottom: 45px;
}

//Paddings
.p0 {
  padding: 0 !important;
}

*.clrpadding {
  padding-left: 7.5px !important;
  padding-right: 7.5px !important;
}

*.clrmargin {
  margin-left: -7.5px !important;
  margin-right: -7.5px !important;
}

//Buttons
.btn.btnsignin {
  border-color: transparent;
  margin-right: 10px;
  font-size: 14px;
  color: $black;
  transition: all ease 300ms;

  &:active,
  &:focus,
  &:hover {
    background: transparent;
    border-color: transparent;
    color: $irs__aqua;
    transition: all ease 300ms;
    outline: none;
    box-shadow: none;
  }
}

.btn.btnblue {
  width: 125px;
  height: 40px;
  line-height: 27px;
  border: 1px solid $irs__aqua;
  border-radius: 10px;
  background: linear-gradient(to right, #2989d8 0%, $irs__aqua 100%);
  font-size: 14px;
  color: $white;
  border-radius: 10px;
  transition: all ease 300ms;

  &:active,
  &:focus,
  &:hover {
    background: transparent;
    color: #2eb2e2;
    transition: all ease 300ms;
  }
}

.btn.btnwhite {
  width: 125px;
  height: 40px;
  font-size: 14px;
  font-weight: 700;
  color: #2eb2e2;
  line-height: 27px;
  background-color: $white;
}

.btn.btnmore {
  font-size: 14px;
  font-weight: 700;
  color: #9da7b1;
  transition: all ease 300ms;

  svg {
    fill: #9da7b1;
    height: 14px;
    vertical-align: middle;
    transition: all ease 300ms;
  }

  &:active,
  &:focus,
  &:hover {
    color: $black;
    box-shadow: none;
    transition: all ease 300ms;

    svg {
      fill: $black;
      transition: all ease 300ms;
    }
  }
}

.bgblue {
  background: linear-gradient(to right, #2989d8 0%, $irs__aqua 100%);
}