//Fonts
$oswald: 'Oswald', sans-serif;
$lato: 'Lato', sans-serif;

//Colors
$white: #fff;
$black: #000;
$irs__gray--dark: #333;
$irs__gray--light: #dcdcdc;
$irs__aqua:#34c3e5; 
$irs__blue--dark: #354fa3;